div {

    padding: 10px;

}

.topo {

    background-color: rgb(89, 95, 150);
    color: white;
    

}

.meio {

    background-color: rgb(205, 77, 0);

}


.final {

    background-color: rgb(216, 216, 216);

}